@page "/workingreport/add"
@page "/workingreport/edit/{Id:int}"

<div class="pages-vacreq-add text-align-center">
    <EditForm Model="Request"
              OnValidSubmit="OnValidSubmit">
        <DataAnnotationsValidator />
        <div class="row col-md-12">
            <div class="text-danger">
                <ValidationSummary />
            </div>
            @if (Id is not null)
            {
                <div class="form-group">
                    <label>@TextResources.APP_StringKeys_Id:</label>
                    <input type="text" class="form-input" value="@Request.Id.ToString()" readonly />
                </div>
            }
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_Date:</label>
                <InputText class="form-input" @bind-Value="Request.PersianDate"></InputText>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_SpentHours:</label>
                <InputNumber class="form-input" @bind-Value="Request.SpentHours"></InputNumber>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_WorkType :</label>
                <InputSelect @bind-Value="Request.WorkTypeId">
                    @if (WorkTypes is not null)
                    {
                        @foreach (var workType in WorkTypes)
                        {
                            <option value="@workType.Id">@workType.Name</option>
                        }
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_Project :</label>
                <InputSelect @bind-Value="Request.ProjectId">
                    @if (Projects is not null)
                    {
                        @foreach (var project in Projects)
                        {
                            <option value="@project.Id">@project.Name</option>
                        }
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_Description:</label>
                <InputText class="form-input" @bind-Value="Request.Desc"></InputText>
            </div>
        </div>
        <div class="page-footer text-align-center">
            <button type="submit"
                    class="btn btn-primary">
                <MaterialIcon IconName="@MaterialIconsHelper.Save"></MaterialIcon>
            </button>
            @if (Id is not null)
            {
                <button type="submit"
                        class="btn btn-danger"
                        @onclick="OnDeleteClick">
                    <MaterialIcon IconName="@MaterialIconsHelper.Delete"></MaterialIcon>
                </button>
            }
            <NavLink href="/vacreq"
                     Match="NavLinkMatch.All"
                     class="btn btn-success">
                <MaterialIcon IconName="@MaterialIconsHelper.Arrow_back_ios_new"></MaterialIcon>
            </NavLink>
        </div>
    </EditForm>
</div>