@page "/workingreport/add"
@page "/workingreport/edit/{Id:int}"
@using Avhrm.Core.Features.WorkingReport.Enum
@using Avhrm.UI.Shared.Tools

<div class="page-header text-align-center">
    @TextResources.APP_StringKeys_WorkingReport_Add
</div>
<div class="pages-vacreq-add text-align-center">
    @if (IsMessageShown)
    {
        <MudAlert Severity="AlertSeverity"
                  Variant="Variant.Filled"
                  Class="rounded-0"
                  ShowCloseIcon="true"
                  CloseIconClicked="()=> IsMessageShown = false">
            <ul>
                @foreach (var text in MessageTexts)
                {
                    <li>
                        @text
                    </li>
                }
            </ul>
        </MudAlert>
    }
    <EditForm Model="Command"
              OnValidSubmit="OnValidSubmit"
              OnInvalidSubmit="OnInvalidSubmit">
        <DataAnnotationsValidator />
        @if (Id is not null)
        {
            <div class="form-group">
                <MudTextField @bind-Value="Command.Id"
                              Label="@TextResources.APP_StringKeys_Id"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense"
                              ReadOnly="true">
                </MudTextField>
            </div>
        }
        <div class="form-group">
            <MudTextField @bind-Value="Command.PersianDate"
                          Label="@TextResources.APP_StringKeys_Date"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          ReadOnly="true">
            </MudTextField>
        </div>
        <div class="form-group">
            <MudTextField @bind-Value="Command.SpentHours"
                          Label="@TextResources.APP_StringKeys_SpentHours"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense">
            </MudTextField>
        </div>
        <div class="form-group">
            <MudSelect @bind-Value="Command.WorkTypeId"
                       Label="@TextResources.APP_StringKeys_WorkType"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (var workType in WorkTypes)
                {
                    <MudSelectItem Value="@workType.Id">@workType.Description</MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="form-group">
            <MudTextField Label="@TextResources.APP_StringKeys_Description"
                          Variant="Variant.Outlined"
                          Margin="Margin.Dense"
                          @bind-Value="@Command.Desc"
                          Lines="3" />
        </div>
        <div class="form-group">
            <MudSelect @bind-Value="Command.WorkReportTimeOfDay"
                       Label="@TextResources.APP_StringKeys_TimeOfDay"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (WorkReportTimeOfDay time in Enum.GetValues(typeof(WorkReportTimeOfDay)))
                {
                    <MudSelectItem Value="@time">
                        @TextResources.ResourceManager.GetString($"APP_StringKeys_{time.ToString()}")
                    </MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="form-group">
            <MudSelect @bind-Value="Command.ProjectId"
                       Label="@TextResources.APP_StringKeys_Project"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (var project in Projects)
                {
                    <MudSelectItem Value="@project.Id">
                        @project.Name
                    </MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="form-group">
            <MudSelect @bind-Value="Command.CustomerId"
                       Label="@TextResources.APP_StringKeys_Customer"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (var customer in Customers)
                {
                    <MudSelectItem Value="@customer.Id">
                        @customer.Name
                    </MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="form-group">
            <MudSelect MultiSelection="true"
                       @bind-SelectedValues="Command.WorkChallengesIds"
                       Label="@TextResources.APP_StringKeys_WorkChallenge"
                       Variant="Variant.Outlined"
                       Margin="Margin.Dense">
                @foreach (var workType in WorkTypes)
                {
                    <MudSelectItem Value="@workType.Id">
                        @workType.Description
                    </MudSelectItem>
                }
            </MudSelect>
        </div>
        <div class="page-footer text-align-center">
            <button type="submit"
                    class="btn btn-primary">
                <MaterialIcon IconName="@MaterialIconsHelper.Save"></MaterialIcon>
            </button>
            @if (Id is not null)
            {
                <button type="button"
                        class="btn btn-danger"
                        @onclick="OnDeleteClick">
                    <MaterialIcon IconName="@MaterialIconsHelper.Delete"></MaterialIcon>
                </button>
            }
            <NavLink href="/workingreport/search"
                     Match="NavLinkMatch.All"
                     class="btn btn-light">
                <MaterialIcon IconName="@MaterialIconsHelper.Arrow_back_ios_new"></MaterialIcon>
            </NavLink>
        </div>
    </EditForm>
    <MudOverlay Visible="IsLoading"
                DarkBackground="true">
        @TextResources.APP_StringKeys_Loading
        <MudProgressCircular Color="Color.Primary"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudOverlay>
</div>