@page "/workingreport/add"
@page "/workingreport/edit/{Id:int}"
@using Avhrm.UI.Shared.Tools

<div class="pages-vacreq-add text-align-center">
    @if (IsMessageShown)
    {
        <MudAlert Severity="Severity.Error"
                  Variant="Variant.Filled"
                  Class="rounded-0"
                  ShowCloseIcon="true"
                  CloseIconClicked="()=> IsMessageShown = false">
            <ul>
                @foreach (var text in MessageTexts)
                {
                    <li>
                        @text
                    </li>
                }
            </ul>
        </MudAlert>
    }
    <EditForm Model="Command"
              OnValidSubmit="OnValidSubmit"
              OnInvalidSubmit="OnInvalidSubmit">
        <DataAnnotationsValidator />
        <div class="row col-md-12">
            @if (Id is not null)
            {
                <div class="form-group">
                    <MudTextField @bind-Value="Command.Id"
                                  Label="@TextResources.APP_StringKeys_Id"
                                  Variant="Variant.Outlined"
                                  Margin="Margin.Dense"
                                  ReadOnly="true">
                    </MudTextField>
                </div>
            }
            <div class="form-group">
                <MudDatePicker Label="@TextResources.APP_StringKeys_Date"
                               @bind-Date="Command.WorkDayDateTime"
                               Culture="@MudblazorDatePickerHelper.GetPersianCulture()"
                               TitleDateFormat="dddd, dd MMMM" />
            </div>
            <div class="form-group">
                <MudTextField @bind-Value="Command.SpentHours"
                              Label="@TextResources.APP_StringKeys_SpentHours"
                              Variant="Variant.Outlined"
                              Margin="Margin.Dense">
                </MudTextField>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_WorkType :</label>
                <InputSelect @bind-Value="Command.WorkTypeId">
                    <option value="">...</option>
                    @foreach (var workType in WorkTypes)
                    {
                        <option value="@workType.Id">@workType.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_Project :</label>
                <InputSelect @bind-Value="Command.ProjectId">
                    <option value="">...</option>
                    @foreach (var project in Projects)
                    {
                        <option value="@project.Id">@project.Name</option>
                    }
                </InputSelect>
            </div>
            <div class="form-group">
                <label>@TextResources.APP_StringKeys_Description:</label>
                <InputText class="form-input" @bind-Value="Command.Desc"></InputText>
            </div>
        </div>
        <div class="page-footer text-align-center">
            <button type="submit"
                    class="btn btn-primary">
                <MaterialIcon IconName="@MaterialIconsHelper.Save"></MaterialIcon>
            </button>
            @if (Id is not null)
            {
                <button type="submit"
                        class="btn btn-danger"
                        @onclick="OnDeleteClick">
                    <MaterialIcon IconName="@MaterialIconsHelper.Delete"></MaterialIcon>
                </button>
            }
            <NavLink href="/workingreport/search"
                     Match="NavLinkMatch.All"
                     class="btn btn-light">
                <MaterialIcon IconName="@MaterialIconsHelper.Arrow_back_ios_new"></MaterialIcon>
            </NavLink>
        </div>
    </EditForm>
</div>