@page "/workingreport/search"
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div class="page-header text-align-center">
    @TextResources.APP_StringKeys_WorkingReport_Search
</div>
<div class="pages-workingreport-search text-align-center">
    <EditForm Model="Request"
              OnInvalidSubmit="OnInvalidSubmit"
              OnValidSubmit="OnValidSubmit">
        <div class="search-box">
            <MudStack Justify="Justify.Center" Spacing="10" Row="true">
                <div class="form-group">
                    <MudDatePicker Label="@TextResources.APP_StringKeys_Date"
                                   @bind-Date="Request.Date"
                                   Culture="@MudblazorDatePickerHelper.GetPersianCulture()"
                                   TitleDateFormat="dddd, dd MMMM" />
                </div>
                <button type="submit"
                        class="btn btn-success"
                        style="width: 45px;height: 40px;">
                    <MaterialIcon IconName="@MaterialIconsHelper.Search"></MaterialIcon>
                </button>
            </MudStack>
        </div>
    </EditForm>
    <hr />

    <div class="div-ver-overflow">
        @if (Reports is not null)
        {
            <Virtualize Items="Reports"
                        ItemSize="10"
                        OverscanCount="10">
                <MudCard Outlined="true">
                    <MudCardHeader>
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@context.PersianDate</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardContent>
                        <MudText Typo="Typo.body2">
                            <MaterialIcon IconName="@MaterialIconsHelper.Timer"></MaterialIcon>
                            @context.SpentHours
                        </MudText>
                        <MudText Typo="Typo.body2">
                            <MaterialIcon IconName="@MaterialIconsHelper.Work"></MaterialIcon>
                            @context.WorkTypeDescription
                        </MudText>
                    </MudCardContent>
                    <MudCardActions>
                        <NavLink href="@($"/workingreport/edit/{context.Id}")"
                                 Match="NavLinkMatch.All"
                                 class="btn btn-secondary">
                            <MaterialIcon IconName="@MaterialIconsHelper.Edit"></MaterialIcon>
                        </NavLink>
                    </MudCardActions>
                </MudCard>
            </Virtualize>
        }
    </div>

    <MudOverlay Visible="IsLoading"
                DarkBackground="true">
        @TextResources.APP_StringKeys_Loading
        <MudProgressCircular Color="Color.Primary"
                             Size="Size.Large"
                             Indeterminate="true" />
    </MudOverlay>
</div>
<div class="page-footer text-align-center">
    <NavLink href="/workingreport/add"
             Match="NavLinkMatch.All"
             class="btn btn-primary">
        <MaterialIcon IconName="@MaterialIconsHelper.Add"></MaterialIcon>
    </NavLink>
    <NavLink href="/"
             Match="NavLinkMatch.All"
             class="btn btn-light">
        <MaterialIcon IconName="@MaterialIconsHelper.Arrow_back_ios_new"></MaterialIcon>
    </NavLink>
</div>