@page "/vacreq"
@page "/vacreq/index"
@using Microsoft.AspNetCore.Components.Web.Virtualization

<div class="pages-vacreq-index text-align-center">
    @if (VacationRequests is not null)
    {
        <NavLink href="/vacreq/add"
                 Match="NavLinkMatch.All"
                 class="btn btn-secondary">
            @TextResources.APP_StringKeys_Add
        </NavLink>

        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>
                        @TextResources.APP_StringKeys_SaveDate
                    </th>
                    <th>
                        @TextResources.APP_StringKeys_VacReq_IsVerified
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <Virtualize Items="VacationRequests" ItemSize="10" OverscanCount="10">
                    <tr>
                        <td>
                            @PersianCalendarTools.GregorianToPersian(context.CreateDateTime)
                        </td>
                        <td>
                            @(context.Verifier is null ? TextResources.APP_StringKeys_NotSpecified : (context.IsVerified ? TextResources.APP_StringKeys_VacReq_Verified : TextResources.APP_StringKeys_VacReq_NotVerified))
                        </td>
                        <td>
                            @if (context.IsVerified)
                            {
                                <NavLink href="@($"/vacreq/edit/{context.Id}")"
                                         Match="NavLinkMatch.All"
                                         class="btn btn-secondary">
                                    @TextResources.APP_StringKeys_Edit
                                </NavLink>
                            }
                        </td>
                    </tr>
                </Virtualize>
            </tbody>
        </table>
    }

    <TelerikLoaderContainer  Visible="IsLoading"
                             LoaderPosition="@LoaderPosition.End"
                             LoaderType="LoaderType.InfiniteSpinner"
                             Text="@TextResources.APP_StringKeys_Loading">
    </TelerikLoaderContainer>
</div>